@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWrtier";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <td>Blog Başlığı</td>
        <td>Oluştruma Tarih</td>
        <td>Kategori</td>
        <td>Durum</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BlogId</td>
    <td>@item.BlogTitle</td>
    <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy")) </td>
    <td>@item.Category.CategoryName</td>
    <td>
        @if (item.BlogStatus)
        {
            <span class="badge badge-success">Aktif</span>
        }
        else
        {
            <span class="badge badge-danger">Pasif</span>
        }
    </td>
    <td><a href="/Blog/BlogDelete/@item.BlogId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Blog/BlogEdit/@item.BlogId" class="btn btn-warning">Güncelle</a></td>
</tr>
}
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>

