@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <td>Bildirim</td>
        <td>Tarih</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.NotificationID</td>
    <td>@item.NotificationType</td>
    <td>@(((DateTime)item.NotificationDate).ToString("dd-MMM-yyyy")) </td>
</tr>

    }
</table>

